<!--footer-->
<footer>
	<div class="info-legal">
		<p>&COPY;
			{% trans %}
			2022 Created by Wetterene Rémy
			{% endtrans %}
		</p>
		<a href="condition">
			{% trans %}
			General user condition
			{% endtrans %}
		</a>
	</div>
</footer>
