{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!
{% endblock %}

{% block body %}
	{% include "partials/_filterForm.html.twig" %}
	<div class="container mt-5 rela">
		<div class="row rela vh100">
			<div class="grid-auto">
				{% if annonces|length > 0 %}
					{% for annonce in annonces %}

						{% include "partials/_cards.html.twig" %}
					{% endfor %}
				{% else %}
					<h4>Aucun Résultat</h4>
				{% endif %}
			</div>

			<div class="navigation"> 
			{{ knp_pagination_render(annonces) }}
			</div>
		</div>
		<div class="btnFilter">
			<i class='bx bx-filter-alt' ></i>
		</div>
	</div>
{% endblock %}
{% block javascripts %} 
	{{ parent() }}
	{{ encore_entry_script_tags('filter') }}
{% endblock %}
