.filterAd{
   background-color: $blue-mat;
   position: fixed;
   top:-100%;
   left:0;
   right: 0;
   overflow: hidden;
   transition: 0.2s ease;
   z-index: 200;

   form
   {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding:10px;
      .form-group{
         margin: 5px 0px 5px 0px;
         display: flex; 
         justify-content: center;
         align-items: center;
         &{
            width:100%;
         }  
      }
      #state, #cat{
         border-radius: 5px;
         padding:1rem;
         flex-grow: 1 0;
         option{
            width: 100%;
            padding:1rem;
            overflow: hidden;
         }
      }
      input 
      {
         color:white;
         border:1px solid $orange;
         border-radius: 5px;
         padding:10px;
         background:transparent;
      &::placeholder{
         color:white;
      }
      &:focus{
         border:none;
      }
      }

   }
}

.showFilter{
   top:80px;
}
.btnFilter{
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 400;
   position: fixed;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   
   cursor: pointer;
   background-color: $blue-mat;
   bottom:50%;
   right: 5%;
   color:$white;
   font-size: 20px;
   &:hover{
      background-color: $orange;
      animation: size alternate 1s infinite;
   }
   transition: 1s;
   &::before{
      content: "";
      z-index: -50;
      position: absolute;
      border-radius: 50%;
      animation: pulsion infinite 4s ease-in-out;
      user-select: none;
      pointer-events: none;
   
   }
   &::after{
      content: "";
      z-index: -50;
      position: absolute;
      border-radius: 50%;
      animation: pulsion infinite 5s ease;
      user-select: none;
      pointer-events: none;
   
   }
   @media (max-width:568px) {
      bottom:15%;
   right:10%;
   }
}
@keyframes pulsion {
   from{
      width: 0;
      height: 0;
      border:0px solid $orange;
      opacity: 1;
   }
   
   to{
      width: 180%;
      height: 180%;
      border:4px solid $orange;
      opacity: 0;
   }
}
@keyframes size {
   from{
    transform: scale(1);
   }
   to{
    transform: scale(1.4);
   }
}

.error{
   font-size: 2rem;
   color:red;
}