.filterAd{
   background-color: $blue-mat;
   position: sticky;
   top:80px;
   left:0;
   right: 0;
   form
   {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding:10px;
      .form-group{
         margin: 5px 0px 5px 0px;
         display: flex;
         &{
            width:100%;
         }
      }
      input 
      {
         color:white;
         border:1px solid $orange;
         border-radius: 5px;
         padding:10px;
         background:transparent;
      &::placeholder{
         color:white;
      }
      &:focus{
         border:none;
      }
      }

   }
}