*{
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    // padding: 0;
}
body,html{
    font-size: $font-size;   
}
body,html
{
    // overflow-x:hidden ;
}

#main{
    padding-top:80px;
    background: rgb(253, 253, 253);
}